<html>

<body>
<div id="webcam" class="module" data-module="webcam">
<div class="module_settings"><span>Settings</span></div>
<div class="module_remove"><span>Remove</span></div>
<style>
img.webstreamz {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 540px; }
    .advance {
    display: none;
    }
</style>
<br>
<img src=" {{ stream_url }} " class="webstreamz" alt="stream">
<br>

<div id="basic">
<input name="button_turn_down" type="button" id="button_turn_down" value="Down"/>
<input name="button_turn_up" type="button" id="button_turn_up" value="Up"/>
<input name="button_turn_left" type="button" id="button_turn_left" value="Left"/>
<input name="button_turn_right" type="button" id="button_turn_right" value="Right"/>
<input name="button_turn_center" type="button" id="button_turn_center" value="Center"/>
<input name="button_resolution_resolution_qvga" type="button" id="button_resolution_resolution_qvga" value="QVGA"/>
<input name="button_resolution_resolution_vga" type="button" id="button_resolution_resolution_vga" value="VGA"/>
<input name="button_hide_streamz" type="button" id="button_toggle_stream" value="OFF"/>
<input name="button_show_more" type="button" id="button_toggle_more" value="More"/>
<br>
<input name="button_turn_preset_1" type="button" id="button_turn_preset_1" value=" 1 "/>
<input name="button_turn_preset_2" type="button" id="button_turn_preset_2" value=" 2 "/>
<input name="button_turn_preset_3" type="button" id="button_turn_preset_3" value=" 3 "/>
<input name="button_turn_preset_4" type="button" id="button_turn_preset_4" value=" 4 "/>
<input name="button_set_preset_1" type="button" id="button_set_preset_1" value="Set 1"/>
<input name="button_set_preset_2" type="button" id="button_set_preset_2" value="Set 2"/>
<input name="button_set_preset_3" type="button" id="button_set_preset_3" value="Set 3"/>
<input name="button_set_preset_4" type="button" id="button_set_preset_4" value="Set 4"/>
</div>

<p class=advance>
<input name="button_mode_fifty" type="button" id="button_mode_fifty" value="50HZ"/>
<input name="button_mode_sixty" type="button" id="button_mode_sixty" value="60HZ"/>
<input name="button_mode_outdoor" type="button" id="button_mode_outdoor" value="Outdoor"/>
<input name="button_flippandmirror_default" type="button" id="button_flippandmirror_default" value="Flip & Mirror Default"/>
<input name="button_flippandmirror_flip" type="button" id="button_flippandmirror_flip" value="Flip"/>
<input name="button_flippandmirror_mirror" type="button" id="button_flippandmirror_mirror" value="Mirror"/>
<input name="button_flippandmirror_fam" type="button" id="button_flippandmirror_fam" value="Flip & Mirror"/>
<input name="button_motion_armed" type="button" id="button_motion_armed" value="MS ON"/>
<input name="button_set_motion_sensitivity_high" type="button" id="button_set_motion_sensitivity_high" value="MS high"/>
<input name="button_set_motion_sensitivity_medium" type="button" id="button_set_motion_sensitivity_medium" value="MS medium"/>
<input name="button_set_motion_sensitivity_low" type="button" id="button_set_motion_sensitivity_low" value="MS low"/>
<input name="button_set_motion_sensitivity_ultralow" type="button" id="button_set_motion_sensitivity_ultralow" value="MS ultralow"/>
<input name="button_set_input_armed" type="button" id="button_set_input_armed" value="Input ON" />
<input name="button_turn_vertical_patrol" type="button" id="button_turn_vertical_patrol" value="VP"/>
<input name="button_turn_horizontal_patrol" type="button" id="button_turn_horizontal_patrol" value="HP"/>
</p>

</body>
</html>
